html {
  margin: 0;
  padding: 0;
  font-size: 80%;
}

@media screen and (min-width: 767px) {
  html {
    font-size: 100%;
  }
}

body {
  max-width: 27em;
  margin: 0 auto;
  padding: 0 1.2em;
  font-size: 1.2em;
  line-height: 1.4em;
  background: #fafafa;
  color: #333;
}

h1, h2, h3 {
  font-family: "HelveticaNeue", Helvetica, sans-serif;
  color: #141B41;
}

p {
  font-family: Georgia, serif;
}

a, a: visited {
  color: #5291F5;
}

main h1 {
  font-size: 2.5em;
  margin: 1em 0 0.5em 0;
}

.header h2 {
  font-size: 1.2em;
  margin: 0 0 1em 0;
}

.contact h3 {
  margin: 0;
}

.contact ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: circle;
}

.contact li {
  margin: 0.5em 0;
  padding: 0;
}

.contact a {
  color: #306BAC;
}

article .meta {
  font-size: 0.8em;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 0.5rem 0;
  border-top: 1px solid #000;
  font-size: 0.8rem;
  color: #555;
}
