---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;

const formattedDate = new Intl.DateTimeFormat("en-GB", {
  dateStyle: "full",
}).format(date);
---

<BaseLayout title={title}>
  <article>
    <header>
      <h1>{title}</h1>
      <p class="article-date">
        Posted on <time>{formattedDate}</time>
      </p>
    </header>

    <slot />

    <footer class="post-footer">
      <a href="/index.html">Home</a>
    </footer>
  </article>
</BaseLayout>

<style>
  .article-date {
    color: var(--color-grey);
  }

  .post-footer {
    margin-block-start: 1rem;
    padding-block-start: 1rem;
    border-block-start: 1px solid black;
  }
</style>
